* {
  padding: 0;
  margin: 0;
  box-shadow: 0;
}
.nav-bar {
  display:flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  justify-content: center;
  background-color: black;
}
header {
  text-align: center;
  margin-top: 100px;
  font-weight: 900;
  font-size: 40px;
}
ul li a {
  display: inline-block;
  color: white;
  padding: 14px 90px;
  text-decoration: none;
}
ul li a:hover {
  background-color: rgb(51, 3, 3);
}
ul li a.active{
  background-color: rgb(51, 3, 3);;
}
form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px 24px;
  margin: 70px 250px;
 

}
.form-group {
  display: flex;
  flex-direction: column;
}
.form-group1 {
  display: flex;
  flex-direction: column;
}
.radio-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}
.radio-group label {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}
.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="date"],
.form-group input[type="number"]
{
  width: 100%;
  max-width: 300px;
}
label {
  margin-bottom: 15px;
  font-weight: 700;
}
.checkbox-group {
  display: flex;
  flex-direction: column;
}
.checkbox-group label {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}
input[type="text"],
input[type="email"],
input[type="date"],
input[type="number"] {
  padding: 10px;
}
.submit-btn button {
  text-decoration: none;


}