* {
  margin: 0;
  padding: 0;
  box-shadow: 0;

}
.audio-waveform {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 9px;
  height: 120px;
  margin-top: 200px;
  margin-bottom: 200px;
}
.bar {
  border-radius: 5px;
  background-color: blue;
  width: 6px;

}